<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forhealth">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">

    <activity
        android:name=".SplashScreen"
        android:label="ForHealthTest"
        android:theme="@style/Theme.Transparent"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name="com.example.forhealth.FirstPage"
            android:label="ForHealth"
            android:theme="@style/Theme.Forhealth"
            >
        </activity>
        <activity android:name="com.example.forhealth.SecondScreen"
            android:label="ForHealth"
            android:theme="@style/Theme.Forhealth"
            >
        </activity>

        <activity android:name="com.example.forhealth.ThirdScreen"
            android:label="ForHealth"
            android:theme="@style/Theme.Forhealth"
            >
        </activity>
    </application>

</manifest>